.header__logo {
  background-image: url(../../../images/logo-mesto.svg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 142px;
  min-height: 33px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    min-height: 24.4px;
  }
}
