.page {
  max-width: 1280px;
  color: #FFF;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 975px) {
  .page {
    padding: 0 10px 0;
  }
}

@media screen and (max-width: 590px) {
  .page {
    padding: 0;
  }
}
