.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 591px) {
  .footer__copyright {
    min-width: 282px;
    font-size: 14px;
    line-height: 17px;
  }
}
