.form__submit-button {
  min-width: 358px;
  min-height: 50px;
  background: #FFFFFF;
  border-radius: 2px;
  margin: 216px auto 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  transition: opacity .9s;
}

.form__submit-button:hover {
  opacity: .8;
  transition: opacity .3s;
}
