.element__delete-button {
  background-image: url(../../../images/delete-button-icon.svg);
  background-color: transparent;
  background-size: cover;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: unset;
  cursor: pointer;
  transition: opacity .9s;
}

.element__delete-button:hover {
  opacity: .5;
  transition: opacity .3s;
}
